# Dependencies
node_modules/

# Build
dist/

# Environment variables
.env
.env.local
.env.*.local

# Archives
*.zip

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# IDE / OS
.vscode/
.DS_Store
Thumbs.db